.create-race-form {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.form-row {
    display: flex;
    flex-direction: column;
    gap: 0.1rem;
}

.new-note-header{
    display: flex;
    font-size: 20px;
    font-weight: bold;
}


.create-race-header {
    font-size: 30px;
    color: hsl(216, 84%, 19%);
}

.submit-button {
    background-color: white;
    border-color: rgb(42, 116, 228);
    border-style: solid;
    border-width: 1px;
    color: rgb(42, 116, 228);
    height: 36px;
    width: 80px;
    border-radius: 2px;
    cursor: pointer;
    transition: background-color 0.15s,
    color 0.15s;
}

.submit-button:hover {
    background-color: rgb(42, 116, 228);
    color: white;
}

.submit-button:active {
    opacity: 0.7;
}

.notes-list {
    background: aliceblue;
    border-radius: 5px;
    list-style-type: decimal;
}

.delete-note {
    background-color: rgb(151, 4, 8);
    color: white;
    border: none;
    height: 20px;
    width: 80px;
    border-radius: 2px;
    cursor: pointer;
    margin-left: 200px;
    transition: opacity 0.15s;
    align-content: center;
}

.create-race-form:hover {
    opacity: 0.8;
}

.create-race-form:active {
    opacity: 0.5;
}

ul li {
    background: #D3D4DA;
    color: #444;
    border: 1px solid rgb(12, 31, 64);
    padding: 1rem;
}